html, body{
min-height: 100vh;    /*Ajusteaza marimea paginii */
margin: 0;            /* Elimina scrollbar-ul din dreapta */

font-size: 16px;
line-height: 1.5;
background: #fff;
max-width: 960px;
margin:auto;
}

.container{
    text-align: center;

}

[data-counter-display]
{
    font-size: 32px;
    font-family: 'Montsserat';
}

.negative {
    color: #c00;
}

.positive{
    color: #bada55;
}

[data-counter-button]{
    background-color: rgb(240, 240, 232); 
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  /* text-decoration: none; */
  cursor: pointer;
}

[data-header]{
    font-family: 'Montsserat';
    font-size: 46px;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    text-decoration: overline;
    background-color: beige;

}