:root{
    --primary: #D81E5B;
    --secondary: #8A4FFF;
    --grey: #aaa;
    --light: #eee;
    --dark: #131a26;

}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body{
    background-color: var(--light);
}

.container{
    padding: 3rem 2rem;
    max-width: 640px;
    margin: 0 auto;
}

h1{
    color:var(--dark);
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem
}

[data-counter]
{
    background-color: var(--dark);
    padding: 1rem;
    border-radius: 1rem;
    color: white;
}

/* [data-counter-display]
{
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
} */

.container
{
    font-size: 8rem;
    font-weight: 700;
    text-align: center;
}

[data-buttons]
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -0.5rem;
}

button
{
    margin: 0 0.5rem;  /* Distanta dintre butoane*/
    appearance: none;
    background: none;
    border: none;
    outline: none;

    color: var(--primary);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;

    transition: 0.4s ease-out;

}

button[data-counter-button = "reset"]{
    color: #fff;
    opacity: 0.5;
}

button[data-counter-button ="reset"]:hover
{
    color: var(--primary);
}

.negative {
    color: #c00;
}

.positive{
    color: #bada55;
}



